<div class="row py-2">
  <div class="col-12 text-end">
    <%= edit_button_for organisation %>
    <%= delete_button_for organisation %>
  </div>
</div>

<div class="row row-gap-2">

  <% can_read_field? organisation, :name do %>
    <dt class="col-md-3">Name</dt>
    <dd class="col-md-9"><%= organisation.name %></dd>
  <% end %>

  <% can_read_field? organisation, :headline do %>
    <dt class="col-md-3">Headline</dt>
    <dd class="col-md-9">
      <%= read_more organisation.headline %>
    </dd>
  <% end %>

  <% can_read_field? organisation, :description do %>
    <% if organisation.description.present? %>
      <dt class="col-md-3">Description</dt>
      <dd class="col-md-9">
        <%= clamp quill(organisation.description) %>
      </dd>
    <% end %>
  <% end %>

  <% can_read_field? organisation, :website_url do %>
    <% if organisation.website_url.present? %>
      <dt class="col-md-3">Website</dt>
      <dd class="col-md-9">
          <%= link_to nil, organisation.website_url %>
      </dd>
    <% end %>
  <% end %>

  <% can_read_field? organisation, :company_type do %>
    <dt class="col-md-3">Company Type</dt>
    <dd class="col-md-9"><%= display_name_of organisation.company_type %></dd>
  <% end %>

  <% can_read_field? organisation, :company_size do %>
    <dt class="col-md-3">Company Size</dt>
    <dd class="col-md-9"><%= display_name_of organisation.company_size %></dd>
  <% end %>

  <% can_read_field? organisation, :industry do %>
    <% if organisation.industry.present? %>
    <dt class="col-md-3">Industry</dt>
    <dd class="col-md-9"><%= display_name_of organisation.industry %></dd>
    <% end %>
  <% end %>

  <% can_read_field? organisation, :country do %>
    <dt class="col-md-3">Country</dt>
    <dd class="col-md-9"><%= display_name_of organisation.country %></dd>
  <% end %>

  <% can_read_field? organisation, :joel_test do %>
    <dt class="col-md-3">Joel Test</dt>
    <dd class="col-md-9">
      <% JoelTest.collection.each do |test| %>
        <div>
          <% if organisation.joel_test.include? test %>
            <span class="badge bg-success text-white">
              <i class="bi bi-check"></i>
            </span>
          <% else %>
            <span class="badge bg-danger text-white">
              <i class="bi bi-x"></i>
            </span>
          <% end %>
          <%= test.name %>
        </div>
      <% end %>
    </dd>
  <% end %>

  <% can_read_field? organisation, :created_at do %>
    <dt class="col-md-3">Created At</dt>
    <dd class="col-md-9"><%= timeago organisation.created_at %></dd>
  <% end %>

  <% can_read_field? organisation, :updated_at do %>
    <dt class="col-md-3">Updated At</dt>
    <dd class="col-md-9"><%= timeago organisation.updated_at %></dd>
  <% end %>

</div>
