<%#
  locals: {
    column: {
      name: "field name",
      value: "field value",
      type: "field type",
      transformer: "proc that transforms the value"
    }
  }
%>
<%
  value = column[:value]
  transformer = column[:transformer]
  max_width = column[:options][:max_width]
%>


<td class="text-truncate" style="max-width: <%= max_width %>px;">
  <% if value.respond_to?(:each)  %>
    <ul class="mb-0">
      <% value.each do |value| %>
        <li title="<%= value %>">
          <%= transformer.call value %>
        </li>
      <% end %>
    </ul>
  <% elsif value.present?  %>
    <span title="<%= value %>">
      <%= transformer.call value %>
    </span>
  <% end %>
</td>
