<div class="mb-4">
  <h2>Set your new password</h2>
</div>

<%= form_with url: rodauth(:user).reset_password_path, method: :post, data: { turbo: false } do |form| %>
  <div class="form-group mb-3">
    <%= form.label "password", rodauth(:user).password_label, class: "form-label" %>
    <%= form.password_field rodauth(:user).password_param, value: "", id: "password", autocomplete: rodauth(:user).password_field_autocomplete_value, required: true, class: "form-control #{"is-invalid" if rodauth(:user).field_error(rodauth(:user).password_param)}", aria: ({ invalid: true, describedby: "password_error_message" } if rodauth(:user).field_error(rodauth(:user).password_param)) %>
    <%= content_tag(:span, rodauth(:user).field_error(rodauth(:user).password_param), class: "invalid-feedback", id: "password_error_message") if rodauth(:user).field_error(rodauth(:user).password_param) %>
  </div>

  <% if rodauth(:user).require_password_confirmation? %>
    <div class="form-group mb-3">
      <%= form.label "password-confirm", rodauth(:user).password_confirm_label, class: "form-label" %>
      <%= form.password_field rodauth(:user).password_confirm_param, value: "", id: "password-confirm", autocomplete: "new-password", required: true, class: "form-control #{"is-invalid" if rodauth(:user).field_error(rodauth(:user).password_confirm_param)}", aria: ({ invalid: true, describedby: "password-confirm_error_message" } if rodauth(:user).field_error(rodauth(:user).password_confirm_param)) %>
      <%= content_tag(:span, rodauth(:user).field_error(rodauth(:user).password_confirm_param), class: "invalid-feedback", id: "password-confirm_error_message") if rodauth(:user).field_error(rodauth(:user).password_confirm_param) %>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.submit rodauth(:user).reset_password_button, class: "btn btn-lg btn-primary w-100 fs-6" %>
  </div>
<% end %>
