<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <title><%= page_title @page_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= yield(:head) %>
  </head>
  <body class="bg-body-tertiary">
    <%= render "messages" %>
    <%= content_for?(:header) ? yield(:header) : render("shared/header") %>
    <%= yield(:content) %>
    <%= render 'shared/color_modes' %>
  </body>
</html>
