<% content_for :head do %>
  <style>
    .color-mode-separator {
      display: none;
    }
  </style>
<% end %>

<% content_for(:header) do %>
  &nbsp;
<% end  %>

<% content_for :content do %>
    <div class="container-md py-5 px-4 d-flex justify-content-center flex-column min-vh-100">
      <div class="row border rounded-3 p-3 shadow">
        <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column py-4">
            <div>
              <%=
                link_to root_path do
                  image_tag 'header-logo', class:"img-fluid", style:"width: 300px;"
                end
              %>
            </div>

            <p class="fs-2 d-none d-md-block mt-3" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">Build Fast</p>
            <small class="text-wrap text-center d-none d-md-block" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Build with experienced Developers.</small>
        </div>
        <div class="col-md-6 py-4 px-5">
          <div class="row align-items-center">
            <%= yield %>
          </div>
        </div>
      </div>
      <div class="row">
          <nav class="nav justify-content-center">
            <%= link_to 'Home', root_path, class: 'nav-link'  %>
            <%= link_to 'Privacy Policy', '#', class: 'nav-link'  %>
            <%= link_to 'Terms & Conditions', '#', class: 'nav-link'  %>
            <%= link_to 'Contact Us', '#', class: 'nav-link'  %>
          </nav>
      </div>
    </div>
<% end %>

<%= render template: "layouts/application" %>
