<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <title><%= app_name %><%= " - #{@page_title}" if @page_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="bg-body-tertiary">
    <%= render "messages" %>
    <%= render "header" %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-3 col-xl-2 pt-2">
          <%= render 'sidebar' %>
        </div>
        <div class="col-12 col-sm-9 col-xl-10 pt-2">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'color_modes' %>
  </body>
</html>
