<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <title><%= app_name %><%= " - #{@page_title}" if @page_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="bg-body-tertiary">
    <%= render 'header' %>
    <div class="container-fluid">
      <%= render 'flash' %>
      <%= yield %>
    </div>
    <%= render 'color_modes' %>
  </body>
</html>
